/* Default CSS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/Home */
.full-screen {
  position: relative;
  width: 100%;
  height: 100vh; /* Use 100vh to ensure the div takes up the full viewport height */
  overflow: hidden;
}

/* Canvas styling */
.canvas-container {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
}


/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other components */
}

.navbar-left {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  margin-right: 20px;
}

.navbar-right {
  background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent black */
  display: flex;
  padding: 10px 20px;
  top: 0;
  z-index: 1000; 
  display: flex;
  margin-right: 10px;
}

.navbar-link {
  cursor: pointer;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.navbar-link:last-child {
  margin-right: 0;
}

.navbar-link:hover {
  text-decoration: underline;
}

/* Country Widget  */

.widget-container {
  background-color: #144b7f; /* Dark blue background color */
  padding: 12px;
  border-radius: 30px;
  width: 180px;
  text-align: center;
  color: white;
  margin-left: 45px;
}

h2 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.dropdown {
  margin-bottom: 10px;
  position: relative;
}

.dropdown-toggle {
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  color: #144b7f;
  border: none;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle:focus {
  outline: none;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown-menu {
  /* position: absolute; */
  top: 100%;
  left: 0;
  right: 0;
  background-color: #59ecf1;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-menu li {
  padding: 3px;
  cursor: pointer;
  color: #144b7f;
}

.dropdown-menu li:hover {
  background-color: #e0e0e0;
}

/* BottomWidget Styling*/
.bottom-widget {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.widget-item {
  color: white;
  margin: 0 15px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.widget-item:hover {
  text-decoration: underline;
}




