/* Default CSS */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* src/Home */
.full-screen {
  position: relative;
  width: 100%;
  height: 100vh; /* Use 100vh to ensure the div takes up the full viewport height */
  overflow: hidden;
}

/* Canvas styling */
.canvas-container {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
}


/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000; /* Ensure the navbar is above other components */
}

.navbar-left {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: rgb(58, 156, 201);
  margin-right: 20px;
}

.navbar-right {
  background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent black */
  display: flex;
  padding: 10px 20px;
  top: 0;
  z-index: 1000; 
  display: flex;
  margin-right: 10px;
}

.navbar-link {
  cursor: pointer;
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.navbar-link:last-child {
  margin-right: 0;
}

.navbar-link:hover {
  text-decoration: underline;
}

/* Country Widget  */

.widget-container {
  background-color: #144b7f; /* Dark blue background color */
  padding: 12px;
  border-radius: 30px;
  width: 180px;
  text-align: center;
  color: white;
  margin-left: 45px;
}

h2 {
  font-size: 1rem;
  margin-bottom: 20px;
}

.dropdown {
  margin-bottom: 10px;
  position: relative;
}

.dropdown-toggle {
  width: 100%;
  padding: 10px;
  background-color: #f0f0f0;
  color: #144b7f;
  border: none;
  border-radius: 10px;
  text-align: left;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-toggle:focus {
  outline: none;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.dropdown-menu {
  /* position: absolute; */
  top: 100%;
  left: 0;
  right: 0;
  background-color: #59ecf1;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.dropdown-menu li {
  padding: 3px;
  cursor: pointer;
  color: #144b7f;
}

.dropdown-menu li:hover {
  background-color: #e0e0e0;
}

/* BottomWidget Wrapper Styling */
.bottom-widget-wrapper {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin-bottom: 5px;
}

/* BottomWidget Heading Styling */
.bottom-widget-heading {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
}

/* BottomWidget Styling */
.bottom-widget {
  background-color: rgba(0, 0, 0, 0.7); /* Slightly transparent black */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.widget-item {
  color: white;
  margin: 0 15px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.widget-item:hover {
  text-decoration: underline;
}


/* BlogList.css */
/* .blog-list {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.blog-list h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.blog-list ul {
  list-style: none;
  padding: 0;
}

.blog-list li {
  margin-bottom: 10px;
}

.blog-link {
  text-decoration: none;
  font-size: 20px;
  color: #2c3e50;
  transition: color 0.3s ease;
}

.blog-link:hover {
  color: #000000;
} */

/* BlogDetail.css */
/* .blog-detail {
  padding: 20px;
  max-width: 800px;
  margin-top: 100px;
}

.blog-title {
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
}

.blog-content {
  font-family: 'Georgia', serif;
  line-height: 1.6;
  font-size: 18px;
}  */

/* Advisory Styling */
.advisoryWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 100%;
  padding: 16px;
  background-color: #aec3d6;
  border-radius: 15px;
  cursor: pointer;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #fff;
}

.advisoryName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.advisoryDetails {
  display: flex;
  flex-direction: column;
  gap: 8px; /* Add spacing between details */
}

.affectedTechnology,
.description {
  font-size: 16px;
}

/* Trens CSS */
/* App.css */

.trends-page {
  margin-top: 10px;
  padding: 16px;
}

.page-title {
  font-size: 44px;
  font-weight: bold;
  color: #007bff;
  text-align: center;
  margin-top: 16px;
  text-decoration: underline;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advisoryWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 100%;
  padding: 16px;
  background-color: #aec3d6;
  border-radius: 15px;
  cursor: pointer;
  margin: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  color: #fff;
}

.advisoryName {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 16px;
}

.advisory-short-description {
  font-size: 16px;
}

.advisory-detail {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.affectedTechnology,
.description {
  font-size: 16px;
}

.creator-info {
  font-size: 16px;
}

/* BlogList.css */

.blog-list {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blog-list-item {
  border-bottom: 1px solid #e0e0e0;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.blog-link {
  text-decoration: none;
  color: inherit;
}

.blog-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
}

.blog-description {
  font-size: 16px;
  color: #757575;
  margin: 0;
}

.blog-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.blog-date {
  font-size: 14px;
  color: #757575;
}

.blog-actions {
  font-size: 20px;
  color: #757575;
  cursor: pointer;
}

/* BlogDetail.css */

.blog-detail {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
}

.blog-title {
  font-size: 33px;
  font-weight: bold;
  margin-bottom: 20px;
  /* text-decoration: underline; */
  color: #000000;
}

.blog-content {
  font-size: 18px;
  line-height: 1.6;
  color: #333;
}

/* country css */

.country-container {
  padding: 15px;
  max-width: 280px;
  margin: 0 auto;
  background-color: #aec3d6;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.country-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  color: #333;
}

.country-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.country-container .country-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.country-container .country-item:hover {
  background-color: #f0f0f0;
}

.country-container .country-item img {
  width: 40px;
  height: 25px;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.country-container .country-item span {
  font-family: 'Arial', sans-serif;
  font-size: 14px;
  color: #333;
}

.country-container .country-item span:first-of-type {
  flex-grow: 1;
}

.country-container .country-item span:last-of-type {
  color: #888;
}

.website-widget {
  position: absolute;
  top: 110px; /* Adjust position as needed */
  right: 20px; /* Adjust position as needed */
  padding: 20px;
  background: #aec3d6;
  border: 1px solid #ccc;
  border-radius: 15px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other content */
}
